
DOMAIN=

VAULTWARDEN_DOMAIN=vaultwarden.$DOMAIN

MATRIX_DOMAIN=matrix.$DOMAIN

GRAFANA_DOMAIN=grafana.$DOMAIN


# BD

POSTGRES_USER=weather
POSTGRES_PASSWORD=postgres
POSTGRES_DB=weather_db


# Email для Let's Encrypt уведомлений
EMAIL=

# API-токен Dynu
DYNU_API_KEY=

DYNU_CLIENT_ID=
DYNU_CLIENT_SECRET=

VAULTWARDEN_ADMIN_TOKEN='...'

TURN_SERVER_TOKEN='...'