
DOMAIN=

VAULTWARDEN_DOMAIN=vaultwarden.$DOMAIN

MATRIX_DOMAIN=matrix.$DOMAIN

# Email для Let's Encrypt уведомлений
EMAIL=

# API-токен Dynu
DYNU_API_KEY=

DYNU_CLIENT_ID=
DYNU_CLIENT_SECRET=

VAULTWARDEN_ADMIN_TOKEN='...'