# Порты
listening-port=3478
tls-listening-port=5349

# Внешний IP, который видят клиенты
external-ip=95.31.210.101

# Домен Matrix-сервера (для realm)
realm=turn.egoidei.giize.com

# Аутентификация через общий секретный ключ
use-auth-secret
# Сгенерируйте надёжный секрет: openssl rand -hex 32
static-auth-secret=${TURN_SERVER_TOKEN}

# Пути к сертификатам Let's Encrypt (монтируем каталог /certs)
cert=/etc/ssl/turn/egoidei.giize.com_ecc/fullchain.cer
pkey=/etc/ssl/turn/egoidei.giize.com_ecc/egoidei.giize.com.key

# Диапазон UDP‑портов для релея
min-port=49152
max-port=49160

# Современные директивы отключения TLS <1.2
no-tlsv1_0
no-tlsv1_1

# Отключаем многоадресную рассылку
no-multicast-peers

fingerprint

# verbose
